@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&family=Fraunces:wght@700;900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  // font-family: 'Barlow', sans-serif;

  font-family: "Fraunces", serif;
}

ul {
  li {
    list-style: none;

    a {
      text-decoration: none;
      color: #fff;
    }
  }
}

// Nav stats here
.nav {
  display: flex;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  justify-content: space-around;
}

.nav-link {
  text-transform: capitalize !important;
  font-family: "Barlow", sans-serif !important;
  font-weight: 600 !important;
  color: #fff !important;
  letter-spacing: 0.07em !important;
}

.contact-btn {
  font-size: 0.8rem !important;
  background-color: #fff !important;
  color: #000 !important;
  border-radius: 20px !important;
  font-weight: bold !important;
  font-family: "Fraunces", serif !important;

  &:hover {
    color: #fff !important;
    background-color: rgba(255, 255, 255, 0.3) !important;
    box-shadow: none !important;
  }
}

// Hero section

.hero {
  position: relative;
  background-color: #3ebfff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__text {
    color: #fff;
    text-transform: uppercase;
    font-size: 3rem;
    letter-spacing: 0.5rem;
    position: relative;
    top: 15%;
    padding: 3rem;
  }

  &__img {
  }
}

.arrow-down {
  position: absolute;
  bottom: 27%;
}

// Fruits

.fruits {
  &__row {
    display: flex;
    align-items: center;
  }
  &__text {
    padding: 0 5rem;
    width: 50%;

    h3 {
      font-family: "Fraunces", serif;
      font-size: 2rem;
    }

    p {
      font-family: "Barlow", sans-serif;
      margin: 2rem 0;
    }
  }

  &__button {
    background: transparent;
    border: none;
    border-bottom: 5px solid yellow;
    font-family: "Fraunces", serif;
    text-transform: uppercase;
    cursor: pointer;
  }

  &__img {
    width: 50%;

    img {
      max-width: 100%;
    }
  }
}

// PhotoFruits section
.photofruit {
  margin-top: -5px;
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__graphic {
    width: 50%;
    height: 500px;
    background-image: url(./images/desktop/image-graphic-design1.jpg);
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0 10rem 3rem;

    @media (max-width: 1000px) {
      padding: 0 7rem 3rem;
    }

    p {
      font-family: "Barlow", sans-serif;
      padding: 0.5rem 23px;
    }
  }

  &__photography {
    width: 50%;
    height: 500px;
    background-image: url(./images/desktop/image-photography.jpg);
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0 10rem 3rem;

    @media (max-width: 1000px) {
      padding: 0 7rem 3rem;
    }

    p {
      font-family: "Barlow", sans-serif;
      padding: 0.5rem 11px;
    }
  }
}

// Testimonials

.testimonials {
  padding: 8rem 2rem;

  &__header {
    font-size: 1rem;
    text-align: center;
    padding: 5rem 0;
    color: #ccc;
    text-transform: uppercase;
    letter-spacing: 0.4em;
  }

  &__text {
    display: flex;
    text-align: center;
  }

  &__card {
    margin: 0 2em;
  }

  &__avatar {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: 2em;
  }

  &__review {
    font-family: "Barlow", sans-serif;
    padding: 1em 0;
    line-height: 2;
    font-weight: 600;
  }

  &__pos {
    font-size: 0.7rem;
    font-family: "Barlow", sans-serif;
    color: gray;
    padding: 1em;
  }
}

// Pictures

.pictures {
  display: flex;

  img {
    width: 100%;
  }
}

// Footer

.footer {
  text-align: center;
  padding: 3rem;
  color: green;
  background-color: #3ebfff;

  &__links {
    ul {
      display: flex;
      justify-content: center;
      padding: 2rem 0;
    }

    li {
      a {
        color: green;
        margin: 2rem;
        font-family: "Barlow", sans-serif;
      }
    }
  }

  .icons {
    margin: 0 1rem;

    svg {
      margin: 1rem 1rem 0;
    }
  }
}
