@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&family=Fraunces:wght@700;900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  // font-family: 'Barlow', sans-serif;

  font-family: "Fraunces", serif;
}

ul {
  li {
    list-style: none;

    a {
      text-decoration: none;
      color: #fff;
    }
  }
}

// Nav stats here
.nav {
  display: flex;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  justify-content: space-around;
}

.nav-link {
  text-transform: capitalize !important;
  font-family: "Barlow", sans-serif !important;
  font-weight: 600 !important;
  color: #fff !important;
  letter-spacing: 0.07em !important;
  transition: 0.5s ease-out;

  &:hover {
    border-bottom: 1px solid #fff !important;
    opacity: 1;
  }
}

.contact-btn {
  font-size: 0.8rem !important;
  background-color: #fff !important;
  color: #000 !important;
  border-radius: 20px !important;
  font-weight: bold !important;
  font-family: "Fraunces", serif !important;

  &:hover {
    color: #fff !important;
    background-color: rgba(255, 255, 255, 0.3) !important;
    box-shadow: none !important;
  }
}

// Hero section

@keyframes pulse {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 20px);
  }
  100% {
    transform: translate(0, 0px);
  }
}

.hero {
  position: relative;
  background-color: #3ebfff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__text {
    color: #fff;
    text-transform: uppercase;
    font-size: 3rem;
    letter-spacing: 0.5rem;
    position: relative;
    top: 15%;
    padding: 3rem;

    @media (max-width: 768px) {
      font-size: 2rem;
    }

    @media (max-width: 550px) {
      text-align: center;
    }
  }

  // &__img {
  // }
}

.arrow-down {
  position: absolute;
  bottom: 27%;
  cursor: pointer;
  animation: pulse 2s infinite;
}

// Fruits

.fruits {
  &__row {
    display: flex;
    align-items: center;

    @media (max-width: 650px) {
      flex-direction: column-reverse !important;
    }
  }
  &__text {
    padding: 0 5rem;
    width: 50%;

    @media (max-width: 650px) {
      width: 100%;
    }

    @media (max-width: 550px) {
      text-align: center;
      padding: 5em;
    }

    h3 {
      font-family: "Fraunces", serif;
      font-size: 2rem;

      @media (max-width: 768px) {
        font-size: 1.5rem;
      }
    }

    p {
      font-family: "Barlow", sans-serif;
      margin: 2rem 0;

      @media (max-width: 768px) {
        font-size: 0.8rem;
      }
    }
  }

  &__button {
    background: transparent;
    border: none;
    border-bottom: 5px solid yellow;
    font-family: "Fraunces", serif;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s ease-out;

    &:hover {
      transform: translateY(-0.5rem);
    }
  }

  &__img {
    width: 50%;

    @media (max-width: 650px) {
      width: 100%;
    }

    img {
      max-width: 100%;
    }
  }
}

// PhotoFruits section
.photofruit {
  margin-top: -5px;
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    @media (max-width: 375px) {
      flex-direction: column;
    }
  }

  &__graphic {
    width: 50%;
    height: 500px;
    background-image: url(./images/desktop/image-graphic-design1.jpg);
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 10rem 3rem;

    @media (max-width: 1000px) {
      padding: 0 7rem 3rem;
    }

    @media (max-width: 768px) {
      padding: 0 5rem 3rem;
    }

    @media (max-width: 550px) {
      padding: 0 3rem 3rem;
    }

    @media (max-width: 375px) {
      padding: 0 0rem 3rem;
      width: 100%;
    }

    p {
      font-family: "Barlow", sans-serif;
      padding: 0.5rem 23px;

      @media (max-width: 768px) {
        font-size: 0.8rem;
      }
    }
  }

  &__photography {
    width: 50%;
    height: 500px;
    background-image: url(./images/desktop/image-photography.jpg);
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 10rem 3rem;

    @media (max-width: 1000px) {
      padding: 0 7rem 3rem;
    }

    @media (max-width: 768px) {
      padding: 0 5rem 3rem;
    }

    @media (max-width: 550px) {
      padding: 0 3rem 3rem;
    }

    @media (max-width: 375px) {
      width: 100%;
      padding: 0 1.2rem 3rem;
    }
    p {
      font-family: "Barlow", sans-serif;
      padding: 0.5rem 11px;

      @media (max-width: 768px) {
        font-size: 0.8rem;
      }
    }
  }
}

// Testimonials

.testimonials {
  padding: 8rem 2rem;

  &__header {
    font-size: 1rem;
    text-align: center;
    padding: 5rem 0;
    color: #ccc;
    text-transform: uppercase;
    letter-spacing: 0.4em;
  }

  &__text {
    display: flex;
    text-align: center;

    @media (max-width: 550px) {
      flex-direction: column;
    }
  }

  &__card {
    margin: 0 2em;
  }

  &__avatar {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: 2em;
  }

  &__review {
    font-family: "Barlow", sans-serif;
    padding: 1em 0;
    line-height: 2;
    font-weight: 600;

    @media (max-width: 768px) {
      font-size: 0.8rem;
    }
  }

  &__pos {
    font-size: 0.7rem;
    font-family: "Barlow", sans-serif;
    color: gray;
    padding: 1em;
  }
}

// Pictures

.pictures {
  display: flex;

  @media (min-width: 551px) {
    & > div {
      display: flex;
    }
  }

  img {
    width: 100%;
  }
}

// Footer

.footer {
  text-align: center;
  padding: 3rem;
  color: green;
  background-color: #3ebfff;
  margin-top: -5px;

  @media (max-width: 375px) {
    margin-top: -5px;
  }

  &__links {
    ul {
      display: flex;
      justify-content: center;
      padding: 2rem 0;
    }

    li {
      a {
        color: green;
        margin: 2rem;
        font-family: "Barlow", sans-serif;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .icons {
    margin: 0 1rem;

    @media (max-width: 375px) {
      margin: 0;
    }

    svg {
      margin: 1rem 1rem 0;
      cursor: pointer;
      transition: 0.3s ease-in;

      &:hover {
        transform: translateY(-0.5rem);
      }
    }
  }
}

//Contact page

.contact {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;

  @media (max-width: 575px) {
    flex-direction: column;
  }

  &__title {
    font-family: "Fraunces", serif;
    color: #3ebfff;
    font-size: 3rem;
    padding: 1rem 0;
    letter-spacing: 0.05em;

    @media (max-width: 575px) {
      font-size: 2rem;
    }
  }

  &__subtitle {
    padding-bottom: 1rem;
    font-size: 1.2rem;
    letter-spacing: 0.03em;
  }

  &__left {
    img {
      max-width: 80%;
      width: 100%;
      border-radius: 10px;

      @media (max-width: 575px) {
        max-width: 100%;
      }
    }
  }

  &__right {
    font-family: "Barlow", sans-serif;
    max-width: 70%;
    width: 60%;

    form {
      display: flex;
      flex-direction: column;

      label {
        padding: 1rem 0 0.5rem;
        letter-spacing: 0.05em;
        font-weight: bolder;
      }

      input {
        padding: 0.5rem 1rem;
        border: 1px solid #3ebfff;
      }
      textarea {
        padding: 0.5rem 1rem;
        border: 1px solid #3ebfff;
      }
    }
  }

  .btn-submit {
    align-self: flex-end;
    max-width: 50%;
    padding: 0.5rem 2rem;
    margin-top: 2rem;
    background: linear-gradient(
      318deg,
      rgba(27, 115, 159, 1) 10%,
      rgba(62, 191, 255, 1) 100%
    );
    color: #fff;
    border: none;
    box-shadow: -5px 5px 15px 1px rgba(62, 191, 255, 0.81);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.05em;
    font-size: 0.9rem;
    cursor: pointer;
    transition: 0.3s ease-out;

    &:hover {
      transform: translateY(-0.2rem);
    }
  }
}
