@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&family=Fraunces:wght@700;900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  // font-family: 'Barlow', sans-serif;

  font-family: "Fraunces", serif;
}

ul {
  li {
    list-style: none;

    a {
      text-decoration: none;
      color: #fff;
    }
  }
}

// Nav stats here
.nav {
  display: flex;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  justify-content: space-around;
}

.nav-link {
  text-transform: capitalize !important;
}

// Hero section

.hero {
  position: relative;
  background-color: #3ebfff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__text {
    color: #fff;
    text-transform: uppercase;
    font-size: 3rem;
    letter-spacing: 0.5rem;
    position: relative;
    top: 15%;
    padding: 3rem;
  }

  &__img {
  }
}

// Fruits

.fruits {
  &__row {
    display: flex;
    align-items: center;
  }
  &__text {
    padding: 0 5rem;

    h3 {
      font-family: "Fraunces", serif;
      font-size: 2rem;
    }

    p {
      font-family: "Barlow", sans-serif;
      margin: 2rem 0;
    }
  }

  &__button {
    background: transparent;
    border: none;
    border-bottom: 5px solid yellow;
    font-family: "Fraunces", serif;
    text-transform: uppercase;
    cursor: pointer;
  }

  &__img {
    img {
      max-width: 711px;
    }
  }
}

// PhotoFruits section
.photofruit {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__graphic {
    width: 865px;
    height: 500px;
    background-image: url(./images/desktop/image-graphic-design1.jpg);
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0 10rem 3rem;
  }

  &__photography {
    width: 868px;
    height: 500px;
    background-image: url(./images/desktop/image-photography.jpg);
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0 10rem 3rem;
  }
}
