*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

ul {
  li {
    list-style: none;

    a {
      text-decoration: none;
      color: #fff;
    }
  }
}

// Nav stats here
.nav {
  display: flex;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  justify-content: space-around;
}
